body{
    margin-top:70px;
    font-size:16px;
  }

  a{
    color: black;
  }
  
  h1,h2,h3,h4,h5,h6{
    font-family:Poppins;
  }
  
  p{
    font-family:Roboto;
  }
  
  .navbar-default{
    background:#fff;
    border:0;
    font-family:Poppins;
  }
  
  .navbar-brand{
    font-size:20px;
    color:#000 !important;
    font-weight:bold;
  }
  
  #showcase h1{
    font-size:50px;
    margin-bottom:20px;
  }
  
  #showcase img{
    width:90%;
    margin-left:60px;
  }
  
  #showcase .showcase-right{
    margin-top:90px;
  }
  
  #testimonial{
    background:#f1f1f1;
    padding: 50px 0 30px 0;
    text-align:center;
    margin-top:40px;
  }
  
  #testimonial p{
    font-size:32px;
    font-family: 'Josefin Sans';
    color:#000;
  }
  
  #testimonial p.customer{
    font-size:20px;
    color:#666;
  }
  
  #info1 .info-right{
    margin-top:90px;
  }
  
  #info2{
    margin:20px 0 60px 0;
  }
  
  #contact{
    background:url(../img/image3.png);
    padding:40px;
    color:#fff;
    border-top:#333 7px solid;
    border-bottom:#333 7px solid;
  }
  
  footer{
    padding:30px;
    background: #dfd6cd;
  }

  #logo{
    width: 200px;
    margin-left: -110px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }


  .isma { 
    width: 360px;
    margin-top: -65px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 300px;
    padding: 10px;
    
  }


/*footer section */
.footer {
  background: #ffffff none repeat scroll 0 0;
  border-top: 4px solid #102036;
  margin: 0;
  padding: 20px 0;
  /* margin-left: 100px; */
}
.footer_dv {
  width: 100%;
}
.footer_dv h4 {
  color: #161515;
  font-family: roboto;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.footer_dv ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.footer_dv ul li:first-child {
  border-top: medium none;
  box-shadow: none;
}
.footer_dv ul li {
  border-top: 1px solid #000;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
  color: #f1f2f2;
  padding: 5px 0;
}
.footer_dv p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 15px;
  text-align: justify;


}

.design{
  width: 600px;
  padding: 10px;

}


.dev{
  
    width: 360px;
    /* margin-top: -65px; */
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 300px;
    padding: 10px;

}

/* section service */




/* progressbar */

.progress {
  height: 35px;

}
.progress .skill {
  font: normal 12px "Open Sans Web";
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
}


#SECTION_1 {
  bottom: 0px;
  box-sizing: border-box;
  float: left;
  height: 555px;
  left: 0px;
  position: relative;
  right: 0px;
  text-align: center;
  top: 0px;
  width: 1425px;
  z-index: 9;
  perspective-origin: 712.5px 277.5px;
  transform-origin: 712.5px 277.5px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  overflow: hidden;
  padding: 30px 0px;
}/*#SECTION_1*/

#DIV_2 {
  box-sizing: border-box;
  height: 110px;
  text-align: center;
  width: 1170px;
  perspective-origin: 585px 55px;
  transform-origin: 585px 55px;
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  margin: 0px 127.5px;
}/*#DIV_2*/

#H2_3 {
  box-sizing: border-box;
  color: rgb(38, 38, 38);
  height: 42px;
  text-align: center;
  text-decoration: none solid rgb(38, 38, 38);
  width: 1170px;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 585px 21px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transform-origin: 585px 21px;
  caret-color: rgb(38, 38, 38);
  animation: animation_test 1s ease-out 0s 1 normal forwards running;
  border: 0px none rgb(38, 38, 38);
  font: normal normal normal normal 38px / 42px Futura-PT-Medium;
  margin: 0px 0px 20px;
  outline: rgb(38, 38, 38) none 0px;
}/*#H2_3*/

#P_4 {
  box-sizing: border-box;
  color: rgb(57, 57, 57);
  height: 48px;
  text-align: center;
  text-decoration: none solid rgb(57, 57, 57);
  width: 1170px;
  column-rule-color: rgb(57, 57, 57);
  perspective-origin: 585px 24px;
  transform-origin: 585px 24px;
  caret-color: rgb(57, 57, 57);
  animation: animation_sub 1.2s ease-out 0s 1 normal none running;
  border: 0px none rgb(57, 57, 57);
  font: normal normal normal normal 18px / 24px Futura-PT-Book;
  margin: 0px 0px 25px;
  outline: rgb(57, 57, 57) none 0px;
}/*#P_4*/

#BR_5 {
  box-sizing: border-box;
  color: rgb(57, 57, 57);
  text-align: center;
  text-decoration: none solid rgb(57, 57, 57);
  column-rule-color: rgb(57, 57, 57);
  caret-color: rgb(57, 57, 57);
  border: 0px none rgb(57, 57, 57);
  font: normal normal normal normal 18px / 24px Futura-PT-Book;
  outline: rgb(57, 57, 57) none 0px;
}/*#BR_5*/

#DIV_6 {
  box-sizing: border-box;
  float: left;
  height: 360px;
  text-align: center;
  width: 1170px;
  perspective-origin: 585px 180px;
  transform-origin: 585px 180px;
  font: normal normal normal normal 16px / normal Futura-PT-regular;
}/*#DIV_6*/

#DIV_7 {
  bottom: 0px;
  box-sizing: border-box;
  float: left;
  height: 360px;
  left: 0px;
  max-width: 100%;
  position: relative;
  right: 0px;
  text-align: center;
  top: 0px;
  width: 1170px;
  perspective-origin: 585px 180px;
  transform-origin: 585px 180px;
  font: normal normal normal normal 16px / normal Futura-PT-regular;
}/*#DIV_7*/

#DIV_7:after {
  box-sizing: border-box;
  clear: both;
  content: '""';
  display: block;
  text-align: center;
  width: 1170px;
  perspective-origin: 585px 0px;
  transform-origin: 585px 0px;
  font: normal normal normal normal 16px / normal Futura-PT-regular;
}/*#DIV_7:after*/

#DIV_8 {
  bottom: 180px;
  box-sizing: border-box;
  display: flex;
  height: 175px;
  left: 0px;
  position: absolute;
  right: 784px;
  text-align: center;
  top: 0px;
  width: 386px;
  align-items: center;
  justify-content: center;
  perspective-origin: 193px 87.5px;
  transform-origin: 193px 87.5px;
  background: rgb(251, 115, 116) none repeat scroll 0% 0% / auto padding-box border-box;
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  margin: 0px 0px 5px;
}/*#DIV_8*/

#A_9 {
  box-sizing: border-box;
  color: rgb(25, 36, 50);
  display: block;
  height: 160px;
  min-height: auto;
  min-width: auto;
  text-align: center;
  text-decoration: none solid rgb(25, 36, 50);
  width: 386px;
  column-rule-color: rgb(25, 36, 50);
  perspective-origin: 193px 80px;
  transform-origin: 193px 80px;
  caret-color: rgb(25, 36, 50);
  border: 0px none rgb(25, 36, 50);
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  outline: rgb(25, 36, 50) none 0px;
}/*#A_9*/

#DIV_10 {
  box-sizing: border-box;
  color: rgb(25, 36, 50);
  height: 140px;
  text-align: center;
  text-decoration: none solid rgb(25, 36, 50);
  width: 386px;
  column-rule-color: rgb(25, 36, 50);
  perspective-origin: 193px 70px;
  transform-origin: 193px 70px;
  caret-color: rgb(25, 36, 50);
  border: 0px none rgb(25, 36, 50);
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  outline: rgb(25, 36, 50) none 0px;
}/*#DIV_10*/

#IMG_11, #IMG_16, #IMG_21, #IMG_26, #IMG_31, #IMG_36, #IMG_41, #IMG_46, #IMG_51 {
  box-sizing: border-box;
  color: rgb(25, 36, 50);
  height: 135px;
  text-align: center;
  text-decoration: none solid rgb(25, 36, 50);
  width: 190px;
  column-rule-color: rgb(25, 36, 50);
  perspective-origin: 95px 67.5px;
  transform-origin: 95px 67.5px;
  caret-color: rgb(25, 36, 50);
  border: 0px none rgb(25, 36, 50);
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  outline: rgb(25, 36, 50) none 0px;
  transition: all 0.5s ease 0s;
}/*#IMG_11, #IMG_16, #IMG_21, #IMG_26, #IMG_31, #IMG_36, #IMG_41, #IMG_46, #IMG_51*/

#SPAN_12 {
  bottom: 25px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  float: left;
  height: 20px;
  left: 0px;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  top: -25px;
  width: 386px;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 193px 10px;
  transform-origin: 193px 10px;
  caret-color: rgb(255, 255, 255);
  border: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 17px / 20px Futura-PT-Light;
  list-style: none outside none;
  outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_12*/

#DIV_13 {
  bottom: 180px;
  box-sizing: border-box;
  display: flex;
  height: 175px;
  left: 392px;
  position: absolute;
  right: 588px;
  text-align: center;
  top: 0px;
  width: 190px;
  align-items: center;
  justify-content: center;
  perspective-origin: 95px 87.5px;
  transform-origin: 95px 87.5px;
  background: rgb(190, 166, 127) none repeat scroll 0% 0% / auto padding-box border-box;
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  margin: 0px 0px 5px;
}/*#DIV_13*/

#A_14, #A_19, #A_24, #A_29, #A_34, #A_44, #A_49 {
  box-sizing: border-box;
  color: rgb(25, 36, 50);
  display: block;
  height: 160px;
  min-height: auto;
  min-width: auto;
  text-align: center;
  text-decoration: none solid rgb(25, 36, 50);
  width: 190px;
  column-rule-color: rgb(25, 36, 50);
  perspective-origin: 95px 80px;
  transform-origin: 95px 80px;
  caret-color: rgb(25, 36, 50);
  border: 0px none rgb(25, 36, 50);
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  outline: rgb(25, 36, 50) none 0px;
}/*#A_14, #A_19, #A_24, #A_29, #A_34, #A_44, #A_49*/

#DIV_15, #DIV_20, #DIV_25, #DIV_35, #DIV_45, #DIV_50 {
  box-sizing: border-box;
  color: rgb(25, 36, 50);
  height: 140px;
  text-align: center;
  text-decoration: none solid rgb(25, 36, 50);
  width: 190px;
  column-rule-color: rgb(25, 36, 50);
  perspective-origin: 95px 70px;
  transform-origin: 95px 70px;
  caret-color: rgb(25, 36, 50);
  border: 0px none rgb(25, 36, 50);
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  outline: rgb(25, 36, 50) none 0px;
}/*#DIV_15, #DIV_20, #DIV_25, #DIV_35, #DIV_45, #DIV_50*/

#SPAN_17, #SPAN_22, #SPAN_27, #SPAN_32, #SPAN_37, #SPAN_47, #SPAN_52 {
  bottom: 25px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  float: left;
  height: 20px;
  left: 0px;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  top: -25px;
  width: 190px;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 95px 10px;
  transform-origin: 95px 10px;
  caret-color: rgb(255, 255, 255);
  border: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 17px / 20px Futura-PT-Light;
  list-style: none outside none;
  outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_17, #SPAN_22, #SPAN_27, #SPAN_32, #SPAN_37, #SPAN_47, #SPAN_52*/

#DIV_18 {
  bottom: 180px;
  box-sizing: border-box;
  display: flex;
  height: 175px;
  left: 588px;
  position: absolute;
  right: 392px;
  text-align: center;
  top: 0px;
  width: 190px;
  align-items: center;
  justify-content: center;
  perspective-origin: 95px 87.5px;
  transform-origin: 95px 87.5px;
  background: rgb(163, 165, 100) none repeat scroll 0% 0% / auto padding-box border-box;
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  margin: 0px 0px 5px;
}/*#DIV_18*/

#DIV_23 {
  bottom: 180px;
  box-sizing: border-box;
  display: flex;
  height: 175px;
  left: 784px;
  position: absolute;
  right: 196px;
  text-align: center;
  top: 0px;
  width: 190px;
  align-items: center;
  justify-content: center;
  perspective-origin: 95px 87.5px;
  transform-origin: 95px 87.5px;
  background: rgb(137, 177, 215) none repeat scroll 0% 0% / auto padding-box border-box;
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  margin: 0px 0px 5px;
}/*#DIV_23*/

#DIV_28 {
  bottom: 0px;
  box-sizing: border-box;
  display: flex;
  height: 355px;
  left: 980px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0px;
  width: 190px;
  align-items: center;
  justify-content: center;
  perspective-origin: 95px 177.5px;
  transform-origin: 95px 177.5px;
  background: rgb(245, 163, 82) none repeat scroll 0% 0% / auto padding-box border-box;
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  margin: 0px 0px 5px;
}/*#DIV_28*/

#DIV_30 {
  bottom: -35.2px;
  box-sizing: border-box;
  color: rgb(25, 36, 50);
  height: 140px;
  left: 0px;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(25, 36, 50);
  top: 35.1875px;
  width: 190px;
  column-rule-color: rgb(25, 36, 50);
  perspective-origin: 95px 70px;
  transform-origin: 95px 70px;
  caret-color: rgb(25, 36, 50);
  border: 0px none rgb(25, 36, 50);
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  outline: rgb(25, 36, 50) none 0px;
}/*#DIV_30*/

#DIV_33 {
  bottom: 0px;
  box-sizing: border-box;
  display: flex;
  height: 175px;
  left: 0px;
  position: absolute;
  right: 980px;
  text-align: center;
  top: 180px;
  width: 190px;
  align-items: center;
  justify-content: center;
  perspective-origin: 95px 87.5px;
  transform-origin: 95px 87.5px;
  background: rgb(185, 158, 233) none repeat scroll 0% 0% / auto padding-box border-box;
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  margin: 0px 0px 5px;
}/*#DIV_33*/

#DIV_38 {
  bottom: 0px;
  box-sizing: border-box;
  display: flex;
  height: 175px;
  left: 196px;
  position: absolute;
  right: 588px;
  text-align: center;
  top: 180px;
  width: 386px;
  align-items: center;
  justify-content: center;
  perspective-origin: 193px 87.5px;
  transform-origin: 193px 87.5px;
  background: rgb(114, 151, 186) none repeat scroll 0% 0% / auto padding-box border-box;
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  margin: 0px 0px 5px;
}/*#DIV_38*/

#A_39 {
  box-sizing: border-box;
  color: rgb(25, 36, 50);
  display: block;
  height: 160px;
  min-height: auto;
  min-width: auto;
  text-align: center;
  text-decoration: none solid rgb(25, 36, 50);
  width: 332.656px;
  column-rule-color: rgb(25, 36, 50);
  perspective-origin: 166.328px 80px;
  transform-origin: 166.328px 80px;
  caret-color: rgb(25, 36, 50);
  border: 0px none rgb(25, 36, 50);
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  outline: rgb(25, 36, 50) none 0px;
}/*#A_39*/

#DIV_40 {
  box-sizing: border-box;
  color: rgb(25, 36, 50);
  height: 140px;
  text-align: center;
  text-decoration: none solid rgb(25, 36, 50);
  width: 332.656px;
  column-rule-color: rgb(25, 36, 50);
  perspective-origin: 166.328px 70px;
  transform-origin: 166.328px 70px;
  caret-color: rgb(25, 36, 50);
  border: 0px none rgb(25, 36, 50);
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  outline: rgb(25, 36, 50) none 0px;
}/*#DIV_40*/

#SPAN_42 {
  bottom: 25px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  float: left;
  height: 20px;
  left: 0px;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  top: -25px;
  width: 332.656px;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 166.328px 10px;
  transform-origin: 166.328px 10px;
  caret-color: rgb(255, 255, 255);
  border: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 17px / 20px Futura-PT-Light;
  list-style: none outside none;
  outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_42*/

#DIV_43 {
  bottom: 0px;
  box-sizing: border-box;
  display: flex;
  height: 175px;
  left: 588px;
  position: absolute;
  right: 392px;
  text-align: center;
  top: 180px;
  width: 190px;
  align-items: center;
  justify-content: center;
  perspective-origin: 95px 87.5px;
  transform-origin: 95px 87.5px;
  background: rgb(135, 109, 117) none repeat scroll 0% 0% / auto padding-box border-box;
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  margin: 0px 0px 5px;
}/*#DIV_43*/

#DIV_48 {
  bottom: 0px;
  box-sizing: border-box;
  display: flex;
  height: 175px;
  left: 784px;
  position: absolute;
  right: 196px;
  text-align: center;
  top: 180px;
  width: 190px;
  align-items: center;
  justify-content: center;
  perspective-origin: 95px 87.5px;
  transform-origin: 95px 87.5px;
  background: rgb(121, 191, 161) none repeat scroll 0% 0% / auto padding-box border-box;
  font: normal normal normal normal 16px / normal Futura-PT-regular;
  list-style: none outside none;
  margin: 0px 0px 5px;
}/*#DIV_48*/

