body{
    margin-top:70px;
    font-size:16px;
  }

  a{
    color: black;
  }
  
  h1,h2,h3,h4,h5,h6{
    font-family:Poppins;
  }
  
  p{
    font-family:Roboto;
  }
  
  .navbar-default{
    background:#fff;
    border:0;
    font-family:Poppins;
  }
  
  .navbar-brand{
    font-size:20px;
    color:#000 !important;
    font-weight:bold;
  }
  
  #showcase h1{
    font-size:50px;
    margin-bottom:20px;
  }
  
  #showcase img{
    width:90%;
    margin-left:60px;
  }
  
  #showcase .showcase-right{
    margin-top:90px;
  }
  
  #testimonial{
    background:#f1f1f1;
    padding: 50px 0 30px 0;
    text-align:center;
    margin-top:40px;
  }
  
  #testimonial p{
    font-size:32px;
    font-family: 'Josefin Sans';
    color:#000;
  }
  
  #testimonial p.customer{
    font-size:20px;
    color:#666;
  }
  
  #info1 .info-right{
    margin-top:90px;
  }
  
  #info2{
    margin:20px 0 60px 0;
  }
  
  #contact{
    background:url(../img/image3.png);
    padding:40px;
    color:#fff;
    border-top:#333 7px solid;
    border-bottom:#333 7px solid;
  }
  
  footer{
    padding:30px;
    background: #dfd6cd;
  }

  #logo{
    width: 200px;
    margin-left: -110px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }


  .isma { 
    width: 250px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 300px;
    padding: 10px;
    
  }


/*footer section */
.footer {
  background: #ffffff none repeat scroll 0 0;
  border-top: 4px solid #102036;
  margin: 0;
  padding: 20px 0;
  /* margin-left: 100px; */
}
.footer_dv {
  width: 100%;
}
.footer_dv h4 {
  color: #161515;
  font-family: roboto;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.footer_dv ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.footer_dv ul li:first-child {
  border-top: medium none;
  box-shadow: none;
}
.footer_dv ul li {
  border-top: 1px solid #000;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
  color: #f1f2f2;
  padding: 5px 0;
}
.footer_dv p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 15px;
  text-align: justify;


}
  